@font-face {
	font-family: Neou;
	src: url('../fonts/Neou-Thin.otf');
}
@font-face {
	font-family: NeouBold;
	font-weight: bold;
	src: url('../fonts/Neou-Bold.otf');
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 926px;
}

img {
	border: none;
}

h1{
	color: #005A82;
    font: 21pt NeouBold;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
}
.fontSizeH2, h2
{
	color: #969696;
    font: 20px NeouBold;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
}
h3, .fontSizeH3{
	color: #969696;
    font: 14pt NeouBold;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
}

h4, .fontSizeH4 {
	color: #64A0BE;
    font-size: 14pt;
    font-family: 'Lora', serif;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
}

p, .text {
	font-size: 14pt;
    font-family: 'Lora', serif;
    font-weight: normal;
    color: Black;
}

footer {
	width:100%;
}

a {
	text-decoration: none;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

ul li {
	height: 35px;
	margin-top: 15px;
}

ul li {
	border-bottom: 1px dashed #64A0BE;
}

ul li:hover, ul li.selected {
	border-bottom: 1px dashed #005A82;
}

ul li:first-child {
	margin-top: 0px;
}

a.menu {
	text-decoration: none;
	font-family: Neou;
	font-size: 14pt;
	color: #64A0BE;
	float: right;
}

a.menu:hover, ul li.selected a {
	text-decoration: none;
	font-family: NeouBold;
	font-size: 18pt;
	color: #005A82;
	float: right;
}

.marginBottom10
{
	margin-bottom: 10px;
}

.marginTop10
{
	margin-top: 10px;
}

.clearDiv{
	clear:both;
}

#ContentDiv{
	margin-top: 20px;	
	margin-bottom: 20px;	
	width: 926px;
}

#MenuContainer {
	width: 174px;
	float: left;
}

#GalleryContainer {
	height: 86px;
	padding-top: 5px;
}

.italic {
	font-style:italic;	
}
.aside {
	padding-bottom: 10px;
	width: 202px;
}

.border {
	border-bottom: 1px dashed #969696;
}

.borderBottomH4Color {
	border-bottom: 1px dashed #64A0BE;
}

.paddingTop10 {
	padding-top: 10px;
}

.paddingBottom5 {
	padding-bottom: 5px;
}

.floatRight{
	float: right;
}
	
.gallery{
	float:left;
	height: 38px;
	width: 38px;
	margin: 0 5px 5px 0;
}

.gallery img {
	padding: 3px;
	border: 1px solid #969696;
	display: block;
}

#ContentContainer{
	float: right;
    width: 500px;
    margin-right: 25px;
    margin-left: 25px;
}

.centered
{
	text-align: center;
}

.overlay{
    background:transparent url(../img/overlay.png) repeat top left;
    position:absolute;
    top:0px;
    bottom:-700px;
    left:0px;
    right:0px;
    z-index:100;
}

.openedGallery{
    top:-200px;
    background-color:#fff;
    color:#7F7F7F;
    padding:15px;
    z-index:101;
    width: 640px;
    height: 640px;
}

.boxClose
{
	cursor: pointer;
	position:absolute;
    top:25px;
    right:25px;
    width: 22px;
    height: 22px;
}

.galleryChangeImg {
	z-index: 30;
}

#galleryPrevImg, #galleryNextImg
{
	height: 58px;
    position: absolute;
    top: 40%;
    width: 27px;
    z-index: 50;
    cursor: pointer;	
}

#galleryPrevImg{
	left: 30px;
}

#galleryNextImg{
	right: 30px;
}

.arrowDown {
    background: url("../img/icon_arrow_down.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 7px;
    width: 9px;
}
.arrowUp {
    background: url("../img/icon_arrow_right.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 9px;
    width: 7px;
}

.centerDisplayed
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.centerVerlicalDispayed
{
	display: table-cell; vertical-align: middle
}

.arrowPositionTop
{
	position:absolute;
	top:200px;	
}

.right100
{
	right: 100px;	
}

.left100
{
	left: 100px;	
}

.marginTop10
{
	margin-top:10px;
}

.bold{
	font-weight: 500;
}

.bold600{
	font-weight: 600;
}

.underline
{
	text-decoration:underline;	
}

.column1 {
	width: 150px; 
	float:left;
}